.bg-dark-blue {
    background-color: rgb(49, 64, 81);
}

.bg-hero {
    background-color: rgb(43, 186, 154);
}

.bg-light-blue {
    background-color: rgb(63, 84, 108);
}

img {
    width: 100%;
}

/* .row div {
    min-height: 150px;
    border: 2px dashed black;
} */

.text-hero {
    color: rgb(43, 186, 154);
}

.ico-brand {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
}